@import url("https://fonts.cdnfonts.com/css/cursed-timer-ulil");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eeeeee;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 575px;
  height: 385px;
  align-items: center;
  background-color: #1b244a;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 21px;
}

.container .score {
  font-size: 90px;
  font-family: "Cursed Timer ULiL", sans-serif;
  color: #f94f6d;
  border-radius: 5px;
  width: 155px;
  height: 120px;
  background-color: #080001;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 26px;
}

.buttons,
.reset {
  display: flex;
  gap: 7px;
  justify-content: center;
  align-items: center;
}

.plus-one,
.plus-two,
.plus-three {
  color: #eeeeee;
  border-radius: 4px;
  font-size: 18px;
  font-family: "Cursed Timer ULiL", sans-serif;
  color: #9aabd8;
  width: 45px;
  height: 45px;
  border: 2px solid #9aabd8;
  background-color: #1b244a;
  margin-bottom: 20px;
}

.reset button {
  padding: 10px 45px;
  flex: 1;
  color: #eeeeee;
  border-radius: 4px;
  font-size: 18px;
  font-family: "Cursed Timer ULiL", sans-serif;
  color: #9aabd8;
  border: 2px solid #9aabd8;
  background-color: #1b244a;
}
